html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  html,
  body {
      margin: 0;
      padding: 0;
    padding-left: 0 !important;
    width: 100%;
    height: 100%;
  }
  
  body {
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    padding-top: $nav-height;
    background-color: $background-color;
  }
  
  body.js-open-sans-loaded {
      font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
  }